/bin
/logs
/downloads
/saves
usercache.json
usernamecache.json
options.txt
/fancymenu_data
/crash-reports
command_history.txt
/local
/journeymap
/bivrik
/.sable
/screenshots
emi.json
/config/attributefix/sable
/.physics_mod_cache
/config/inventory-particles/cache
/config/inventory-particles/cache
/dynamic-resource-pack-cache
TrashSlotSaveState.json
config/inventory-particles/cache/eclipticseasons/atlas.png
config/iris.properties
